@charset "UTF-8"

body{
    background-image: linear-gradient(to right, #fff, #F7EFF8);
}
main{
    text-align: center;
    margin-top: 4.5%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    width: 470px;
    height: 500px;
    border-radius: 3px;
    box-shadow: 0 0 2px black;
}
h1{
    font-family: 'asp-font';
    font-size: 23px
}
p{

}
.login{
    color: #202124
}
.logo{
    margin-top: 5%;
    width: 75px;
    height: 24px;
}
.cinza{
    margin: auto;
    text-align: justify;
    width: 350px;
    color: #717579;
    font-family: 'asp-font';
}
.botao{
    margin-left: 14%;
    font-size: 0.9em;
    background-color: #1a73e8;
    color: #fff;
    text-shadow: 0 0 1px #fff;
    width: 101.55px;
    height: 37px;
    border-radius: 5px;
    border-color: #1a73e8;
    margin-top: 14%;
}
.botao:hover{
    background: #1b66ca;
}
.esqueceu{
    margin-top: 2%;
    font-size: 13.6px;
    background: none;
    border: none;
    text-align: center, justify;
    color: #3583eb;
    margin-right: 53.9%;
}
.saiba{
    border: none;
    background: none;
    color: #3583eb;
}
.subtitulo{
    font-family: 'asp-font';
    font-size: 17px;
    margin: auto;
    color: #3b3c3f;
    width: 191.5px;
    height: 10px;
}
.email{
    border-radius: 7px;
    margin-top: 5%;
    width: 384px;
    height: 44px;
    border-color: #dadce0;

}
.criar{
    font-size: 14.6px;
    background: none;
    border: none;
    text-align: center, justify;
    color: #3583eb;
    margin-right: 26%;
}